html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

footer,header{
    vertical-align:middle;
    display: flex;
    background-color:#146c94;
    padding: 10px;
    display: flex;
    align-items: center;
}

footer,header a{
    color:white;
}

.logo{
    padding: 30px;
    padding-right: 50px;
}
.item{
    font-size:x-large;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: -3%;
    margin-top: 3%;
}
.contenedor {
    vertical-align: middle;
    display: flex;
    justify-content: space-around; 
}
.itemimg {
    display: inline-block;
    margin: 5%;
    text-align: center; /* Centra el contenido dentro del contenedor */
    text-align: justify;
}
.itemimg img {
    max-width: 400px; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    height: 400px; /* Ajusta la altura automáticamente para mantener la proporción */
    border: 5px solid black;
    border-radius: 5%;
}
.descripcion{
    font-family: "Barlow", sans-serif;

}

h1, h2,h3 {
    text-align: center;
    font-family: "Barlow";
    font-weight: bold; 
}
p{
    text-align: justify;
    font-family: "Barlow", sans-serif;
}
.logo_img{
    border-radius: 50%;
    transition: box-shadow 0.25s;
}

.logo_img:hover{
    box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.9);
}



