footer,header{
    vertical-align:middle;
    display: flex;
    background-color:aqua;  
}

header{
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo{
    padding: 30px;
    padding-right: 50px;
}
.item{
    font-size:x-large;
    padding: 20px;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Alinea todos los elementos al principio */
    margin: 20px 0;
}

.item {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.item img {
    width: 150px;
    height: 150px;
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen */
    border: 2px solid black; /* Agrega un borde de 2px sólido negro */
}

.descripcion {
    text-align: center;
}
